/* Navbar link hover + active */
.nav-link-custom {
  font-size: 2rem;
  color: #212529;
  margin-left: 1rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-link-custom:hover {
  transform: translateY(-2px);
}

.navbar {
  transition: all 0.3s ease-in-out;
}

#contact{
  padding-top: 0px;
}

.social{
    height: 40px;
    width: 40px;
    background: white;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .4s;
}
.social:hover{
    transform:scale(1.2) ;
    color: var(--bg-color);
    background: var(--text-color);
}
